[access "refs/*"]
	owner = group user/RatpoisonFactory Manager (comperge)
[access "refs/for/refs/*"]
	read = group user/RatpoisonFactory Manager (comperge)
	push = group user/RatpoisonFactory Manager (comperge)
	label-Code-Review = -2..+2 group user/RatpoisonFactory Manager (comperge)
	label-Verified = -1..+1 group user/RatpoisonFactory Manager (comperge)
	rebase = group user/RatpoisonFactory Manager (comperge)
	removeReviewer = group user/RatpoisonFactory Manager (comperge)
	submit = group user/RatpoisonFactory Manager (comperge)
[access "refs/heads/*"]
	read = group user/RatpoisonFactory Manager (comperge)
	create = group user/RatpoisonFactory Manager (comperge)
	push = +force group user/RatpoisonFactory Manager (comperge)
	pushMerge = group user/RatpoisonFactory Manager (comperge)
[access "refs/tags/*"]
	push = +force group user/RatpoisonFactory Manager (comperge)
	pushTag = group user/RatpoisonFactory Manager (comperge)
	pushSignedTag = group user/RatpoisonFactory Manager (comperge)
